<h1>Header</h1>

<nav>
    <a routerLink="">Home</a> |
    <a routerLink="diretivas">Diretivas</a> | 
    <a routerLink="eventos">Eventos</a> | 
    <a routerLink="operatos">Operatos</a> | 
    <a routerLink="data-binding">Two Way Data B</a> |
    <a routerLink="emitter">Emitter</a>
</nav>

<!-- <app-primeiro-componente></app-primeiro-componente>
<app-diretivas></app-diretivas>
<app-eventos></app-eventos>
<app-emitter></app-emitter>
<app-pipe-operators></app-pipe-operators>
<app-two-way-data-binding></app-two-way-data-binding>
<app-componente-filho [name]="userName" [user]="user"></app-componente-filho>
-->

<router-outlet></router-outlet>



<h1>Footer</h1>